<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Calculator</title>
  </head>
  <body>
    <!-- Display section -->
    <div class="input">
      <div class="prevNumber"></div>
      <div class="currNumber"><p>0</p></div>
    </div>

    <!-- Calculator buttons -->
    <!-- First row -->
    <div class="action">%</div>
    <div class="action">CE</div>
    <div class="action erase">C</div>
    <div class="action backspace">⌫</div>

    <!-- Second row -->
    <div class="action">1/x</div>
    <div class="action">x²</div>
    <div class="action">√</div>
    <div class="action">÷</div>

    <!-- Third row -->
    <div class="number">7</div>
    <div class="number">8</div>
    <div class="number">9</div>
    <div class="action">✕</div>

    <!-- Fourth row -->
    <div class="number">4</div>
    <div class="number">5</div>
    <div class="number">6</div>
    <div class="action">—</div>

    <!-- Fifth row -->
    <div class="number">1</div>
    <div class="number">2</div>
    <div class="number">3</div>
    <div class="action">+</div>

    <!-- Last row -->
    <div class="number">±</div>
    <div class="number">0</div>
    <div class="number">.</div>
    <div class="equal">=</div>

    <!-- Scripts -->
    <script>
      require("./index.js");
    </script>
  </body>
</html>
